<section class="section quiz" id="home">
  <div class="row col-sm-12 content-view text-center">
      <img src="assets/logos/logo-flunch.png" class="home-logo">
      <div class="row">
        <div class="home-title">Voici une liste de modules représentant des situations possibles dans les restaurants</div>
      </div>
      <div class="row">
        <div class="home-module-list">
          <ul>
          {{#each module}}
            <li>
              <div class="home-module-wrapper">
                <img src="{{this.img}}">
                <div class="home-module-content">
                  <button class="woonoz-button home-button" data-module="{{this.id}}" onclick="startQuiz(this)"><b>Lancer&nbsp;</b></button>
                  <span class="home-module-title">{{this.name}}</span><br/>
                  <span class="home-module-detail">{{this.description}}</span>
                </div>
              </div>
            </li>
          {{/each}}
          </ul>
        </div>
      </div>
  </div>
  {{footer}}
</section>