<section class="section" id="quiz">
  <div class="row col-sm-12 contentView text-center">
    <h3>Application e-learning Woonoz</h3>
    <p>
      Question
    </p>
    <p id="progression">Progression : </p>
    <div>
      <canvas id="img-canvas" onclick="handleUserClick()">
        Sorry bro. Canvas not supported :(
      </canvas>
    </div>
    <button id="noErrorButton" class="woonoz-button" onclick="noErrorClick()">Pas d'erreur</button>
    <div>
      <!-- <div [ngSwitch]="answerStatus">
        <p *ngSwitchWhen="1">Bonne réponse vous avez trouvé la zone</p>
        <p *ngSwitchWhen="2">Bonne réponse il n'y avait rien à trouver</p>
        <p *ngSwitchWhen="3">Mauvaise réponse il y avait une erreur</p>
        <p *ngSwitchWhen="4">Mauvaise réponse il n'y avait pas d'erreur</p>
        <p *ngSwitchWhen="5">Réponse incorrecte. Il y avait bien une erreur mais à un autre endroit.</p>
        <p *ngSwitchDefault></p>
      </div> -->
      <p id="answerExplanation"></p>
      <button id="nextQuestionButton" class="woonoz-button" onclick="nextQuestion()" hidden>Suivant</button>
    </div>
    <button id="quitQuizButton" class="woonoz-button" onclick="quitQuiz(endedByEngine)">Quitter le module</button>
  </div>
</section>

<script>
loadAjax('assets/modules/module' + window.moduleId + '/module.json', function(response) {
  onPageLoaded(response);
});
</script>